.tabsContainer {
    display: flex;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.tabsContainer h1 {
    font-size: 32px;
    font-weight: bolder;
}

.tabButtons {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
}

.tabButtons button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
  
    transition: background-color 0.3s;
}

.tabButtons button:hover {
    color: white;
    background-color: #007bff;
}

.tabButtons .active {
    font-weight: bold;
    background-color: #007bff;
    color: white;
}

.tabContent {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    min-width: 400px;
    max-width: 50vw;
}

.tabContent h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 24px;
}

.tabContent p {
    margin: 5px 0 0;
}

@media screen and (max-width: 768px) {
    .tabButtons {
      flex-direction: row;
      background-color: red;
      position: absolute;
      left: auto;
      top: 10%;    
    }

    #spacer{
        position: absolute;
    }
    .tabsContainer{
        flex-direction: column;
        height: 100%;
    }
  
    

  }
  