.tabsContainer {
    display: flex;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.tabsContainer h1 {
    font-size: 32px;
    font-weight: bolder;
}

.tabButtons {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
}

.tabButtons button {
    padding: 10px 50px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    transition: background-color 0.3s;
    font-size: max(15px, 2vw);
}

.tabButtons button:first-child {
    border-radius: 10px 10px 0 0; 
}

.tabButtons button:last-child {
    border-radius: 0 0 10px 10px; 
}


.tabButtons button:hover {
    color: white;
    background-color: #007bff;
}

.tabButtons .active {
    background-color: #007bff;
    color: white;
}

.tabContent {
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    min-width: 400px;
    max-width: 50vw;
}



@media screen and (max-width: 768px) {
    .tabButtons {
      flex-direction: row;
      position: relative;
      left: auto;
      flex-wrap: wrap;
      max-width: 70vw;
      
    }

    .tabButtons button{
        flex-basis: 50%;
        padding: 10px 20px;
    }

    #spacer{
        position: absolute;
    }
    .tabsContainer{
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        margin-top: 100px;
    }

    .tabButtons button:first-child {
        border-radius: 10px 0 0 0; 
    }

    .tabButtons button:nth-child(2) {
        border-radius: 0 10px 0 0; 
    }
    .tabButtons button:nth-child(3) {
        border-radius: 0 0 0 10px; 
    }
    

    .tabButtons button:last-child {
        border-radius: 0 0 10px 0; 
    }
    
  
    

  }
  