.faqContent{
    display: flex;
    color: white;
    flex-direction: column;
}

.faqContent p {

}

.faqContent p:nth-of-type(2n){
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    font-size: 17px;
}

.faqContent p:nth-of-type(2n + 1){
    padding-top: 20px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.faqContent p:last-child{
    border-bottom: none;
}

@media (max-width: 1000px) {
    .faqContent p:nth-of-type(2n) {
        font-size: 15px;
    }

    .faqContent p:nth-of-type(2n + 1) {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .faqContent p:nth-of-type(2n) {
        font-size: 14px;
    }

    .faqContent p:nth-of-type(2n + 1) {
        font-size: 20px;
    }


}
