.summaryContainer{
    display: flex;
    align-items: center;
    width: 50vw;
    flex-wrap: wrap;
    margin-left: -20px;
    justify-content: space-around;
    min-width: 400px;
    
}


.stat {
    background-color: green;
    height: 83px;
    padding-top: 20px; 
    padding-bottom: 20px; 
}

.summaryContainer h1{
    background-color: gray;
    flex-basis: 70%;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.stat{
    flex-basis: 10.33%;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}

.stat:first-of-type{
    background-color: red;
    flex-basis: 20%;

    margin: 0px 0px 0px 0px ;
}

#recentWorkout{
    flex-basis: 100%;
    text-align: center;
    margin-top: 50px;
}