.summaryContainer{
    display: flex;
    align-items: center;
    width: 50vw;
    flex-wrap: wrap;
    margin-left: -20px;
    justify-content: space-around;
}


.stat {
    background-color: green;
}

.summaryContainer h1{
    background-color: rebeccapurple;
    flex-basis: 70%;
}

.stat{
    flex-basis: 10.33%;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.stat:first-of-type{
    background-color: red;
    flex-basis: 20%;

    margin: 0px 0px 0px 0px ;
}

.recentWorkout{
    flex-basis: 100%;
}