#mainParent {
  color: rgb(0, 0, 0);
  width: 100%;

  /* height of nav bar*/
  margin-top: 60px;
  height: calc(100vh - 60px);
  display: flex;
  letter-spacing: 4px;

}

.quote{
  position: absolute;
  bottom: 10vh;
  width: 30%;
  letter-spacing: normal;
  animation: fadeInOut 10s ease-in-out infinite;

}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.halfContainer{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#firstHalf{
  background-color: #221e1e;
  border-right: 1px solid white;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
}

#firstHalf h2{
  margin-bottom: 20vh;
}

#firstHalf  *{
  z-index: 2;
  color: white;
}


#secondHalf{
  background-color: 	#f9f1f1;
  border-left: 2px solid white;

}

.pulse {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  filter: blur(4.5rem);
  animation:  animate-pulse-2 3s linear infinite  ;
  background: linear-gradient(90deg, #ff6419 0%, #fa6b3e 36.98%, #ef7a93 74.48%, #eb80b5 100%);
}

.pulse:first-of-type{
  animation:  animate-pulse-1 8s linear infinite  ;
}

.pulse:nth-of-type(2){
  animation:  animate-pulse-2 7s linear infinite  ;
  background: linear-gradient(90deg, #1900ff, #00aaff, #00ffe1);
  animation-delay: 3s;
  opacity: 0;
  position: absolute;
  width: 20rem;
  height: 20rem;

}

.pulse:nth-of-type(3){
  animation:  animate-pulse-3 9s linear infinite  ;
  position: absolute;

  background: linear-gradient(90deg, #4caf50, #66bb6a, #81c784);
}




@keyframes animate-pulse-1 {
  0% {
    opacity: 0;
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.7), 0 0 0 0 rgba(255, 109, 74, 0.7);
    transform: rotate(0deg);
  }
  40% {
    opacity: 1;
    transform: rotate(-144deg);
    /* first pulse color and size, second pulse color*/
    box-shadow: 0 0 0 3.125rem rgba(0, 51, 255, 0.7), 0 0 0 0 rgba(254, 39, 39, 0.7);
  }
  80% {
    opacity: 1;
    transform: rotate(-288deg);
    /* first pulse size, second pulse size*/
    box-shadow: 0 0 0 3.125rem rgba(255, 109, 74, 0), 0 0 0 4.875rem rgba(255, 5, 5, 0);
  }
  100% {
    opacity: 0;
    /* second pulse size*/
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0), 0 0 0 4.875rem rgba(255, 51, 0, 0);
    transform: rotate(-360deg);
  }
}

@keyframes animate-pulse-2 {
  0% {
    opacity: 0;
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.7), 0 0 0 0 rgba(255, 109, 74, 0.7);
    transform: rotate(0deg);
  }
  40% {
    opacity: 1;
    transform: rotate(144deg);
    box-shadow: 0 0 0 3.125rem rgba(244, 0, 183, 0.4), 0 0 0 0 rgba(120, 120, 248, 0.7);
  }
  80% {
    opacity: 1;
    transform: rotate(288deg);
    box-shadow: 0 0 0 3.125rem rgba(255, 109, 74, 0), 0 0 0 6.875rem rgba(32, 140, 198, 0);
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0), 0 0 0 6.875rem rgba(255, 109, 74, 0);
    transform: rotate(360deg);
  }
}

@keyframes animate-pulse-3 {
  0% {
    opacity: 0;
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.7), 0 0 0 0 rgba(255, 109, 74, 0.7);
    transform: rotate(0deg);
  }
  40% {
    opacity: 1;
    transform: rotate(144deg);
    box-shadow: 0 0 0 3.125rem rgba(255, 29, 13, 0.4), 0 0 0 0 rgba(72, 255, 0, 0.7);
  }
  80% {
    opacity: 1;
    transform: rotate(288deg);
    box-shadow: 0 0 0 3.125rem rgba(255, 74, 107, 0), 0 0 0 3.875rem rgba(32, 198, 62, 0);
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0), 0 0 0 3.875rem rgba(255, 109, 74, 0);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {

  .quote{
    width: 70%;
  }


  #firstHalf{
    background-color: #f9f1f1;
    border-right:none;
    
    flex-basis: 100%;
  }

  #firstHalf  *{
    z-index: 2;
    color: black;

  }

  #mainParent {
    align-items: flex-end;
  }
  
  #firstHalf h2{
    margin-bottom: 0vh;
  }


  #secondHalf{
    border-left:none;
  }

  


}
