#mainParent {
  color: rgb(0, 0, 0);
  background-color: red;
  width: 100%;
  margin-top: 60px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  gap:50px;
}

#imgPlaceholder{
  width: 60vw;
  height: 30vh;
  background-color: pink;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}

#introContainer{
  display:flex;
  align-items: center;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  margin-left: -20px;
}
