@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.app{
  display:flex;
  flex-direction: column;
  width: 100%;
}

* {
  font-family: "rubik", sans-serif;
  font-optical-sizing: auto; 
}


:root {
  --seasalt: #F8F9FA;
  --antiFlashWhite: #E9ECEF;
  --platinum: #DEE2E6;
  --frenchGray: #CED4DA;
  --middleGray: #ADB5BD;
  --slateGray: #6C757D;
  --outerSpace: #495057;
  --onyx: #343A40;
  --eerieBlack: #212529;
}

