.editModal {
    background: rgb(255, 151, 151);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    justify-content: space-between;
}

.editModal > h2, h3{
    flex-basis: 100%;
}

.editModal input{
    border: 0;
    border-bottom: 2px solid black;
    padding: 3px 0px 3px 5px;
    margin-right: 10px;
    height: 30px;
    margin-bottom: 5px;
}

.inputRow {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;
    width: 100%;
}

#bodyWeightIn{
    width: 100px;
}

.inputRow div {
    display: flex;
    flex-direction: row;
}



.buttonRow {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}

.buttonRow button {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.buttonRow :first-child {
    background-color: rgb(162, 255, 138);
}

.buttonRow :nth-child(2) {
    background-color: rgb(251, 103, 103);
}

.buttonRow :nth-child(3) {
    background-color: rgb(164, 162, 255);
}

.exerciseRow {
    background-color: aqua;
    border: 2px solid black;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.exerciseRow input {
    width: 20%;
}


.exerciseRow p{
    flex-basis: 100%;
}

@media screen and (max-width: 1000px) {
    .inputRow div {
        flex-direction: column;
    }
}