.editModal {
    border: 1px white solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.editModal > h2, h3{
    flex-basis: 100%;
}

.editModal input{
    border: 0;
    border-bottom: 2px solid black;
    padding: 3px 0px 3px 5px;
    height: 30px;
    margin-bottom: 5px;
}

.inputRow {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;
    width: 100%;
    align-items: center;
}

#bodyWeightIn{
    width: 100px;
}

.inputRow div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}



.buttonRow {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}

.buttonRow button {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    transition-duration: 0.5s;
}

.buttonRow :first-child {
    border: 1px solid rgb(119, 255, 98);
}

.buttonRow :nth-child(2) {
    border: 1px solid rgb(245, 0, 0);

}

.buttonRow :nth-child(3) {
    border: 1px solid rgb(250, 149, 149);
}


.buttonRow :first-child:hover{
    background-color: rgba(119, 255, 98, 0.5);
}

.buttonRow :nth-child(2):hover{
    background-color: rgba(245, 0, 0, 0.5);
}

.buttonRow :nth-child(3):hover{
    background-color: rgba(250, 149, 149, 0.5);
}



.exerciseForm > button:nth-of-type(2){
    border: 1px solid rgb(119, 255, 98);
    float: right;
}

.exerciseForm > button:hover{
    background-color: rgba(119, 255, 98, 0.5);

}



.exerciseRow {
    border: 1px white solid;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.exerciseRow p{
    flex-basis: 100%;
    margin-bottom: 5px;
}

.exerciseRow div {
    display: flex;
    flex-basis: 30%;
}

.exerciseRow > div input {
    width: 100%;
    min-width: 80px;
}





@media screen and (max-width: 1000px) {
    .inputRow div {
        flex-direction: column;
    }

    .exerciseRow p{
        flex-basis: 50%;
        
    }

    .exerciseRow div {
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
    }
    

}