.buttonActive{
    visibility: show;
    display: block;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.buttonInactive{
    position: absolute;
    visibility: hidden;
}

.workoutItem{
    color: white;
}


