.title{
    color: var(--eerieblack);
}

.suggestions{
    background: white;
    border: 1px;
    list-style-type: none;
    padding: 5px;
    z-index: 1;
    position: absolute;
    margin-top: 30px;
}


.formHeader{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    width: 80%;
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
}

.formHeader div > input{
    color: black;
    padding: 3px;
    width: 50px;
    outline: none;
    transition: 0.5s;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 1.2rem;
}

.formHeader div > input:focus {
    border: 3px solid white;
  }


.formHeader div:nth-child(2) input{
    width: 175px;
}

.exerciseRow{
    border: 1px solid white;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: auto;
    margin-top: 10px;
    
}

.exerciseRow > input{
    border: 0;
    padding: 3px 0px 3px 5px;
    margin-right: 10px;
    height: 30px;
    flex-basis: 40%;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0);
    border: 1px white solid;
    color: white;
    font-size: 1.2rem;
    min-width: 163px;
}

.exerciseRow > input::placeholder{
    color: rgb(217, 217, 217);
}


.autoFill{
    display: flex;
    flex-basis: 40%;
    margin-right: 10px;
}

/*
    border: 0;
    border-bottom: 2px solid black;
    height: 30px;
    flex-grow: 1;
    margin-right: 10px;
    padding: 3px 0px 3px 5px;
    margin-bottom: 5px;
*/

.autoFill input {
    border: 0;
    border-bottom: 2px solid black;
    padding: 3px 0px 3px 5px;
    height: 30px;
    flex-grow: 1;
    margin-bottom: 5px;
    padding: 3px 0px 3px 5px;
    background: rgba(0, 0, 0, 0);
    border: 1px white solid;
    color: white;
    font-size: 1.2rem;

}

.autoFill > input::placeholder{
    color: rgb(217, 217, 217);
}


.exerciseForm h3{
    color: white;
}


.exerciseRow button{
    height: 30px;
    font-size: 15px;
    flex-basis: 40%;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 110, 110);
    color: white;
    transition-duration: 0.4s;

}

.exerciseRow > button:hover{
    background-color: rgba(255, 110, 110, 0.5);

}

.exerciseForm > button{ 
    background-color: rgb(255, 187, 187);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(119, 255, 98);
    color: white;
}

.exerciseForm > button:nth-of-type(2){
    border: 1px solid rgb(119, 255, 98);
    float: right;
}

.exerciseForm > button:hover{
    background-color: rgba(119, 255, 98, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 1200px) {
    .formHeader div > input{

        font-size: 1rem;
    }

    .autoFill input {
        font-size: 0.8rem;
    }

    .exerciseRow > input{
        font-size: 0.8rem;

    }

}

@media screen and (max-width: 720px) {
.exerciseForm > button{ 
    font-size: 15px;
}

}

